.navigation a{
    text-decoration: none;
    color: blue;
    border: 1.5px solid blue;
    border-radius: 7px;
    padding: 5px 8px;
    position: sticky;
}

#individual-post-title {
    position:flex;
    margin-top: 24px;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
#individual-post-date {
    margin-top: 24px;
    border-bottom: 1px solid #f1f4f8;
    border-top: 1px solid #f1f4f8;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    color: #adb5bd;
}
#individual-post-content {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    color: #495857;
    line-height: 1.4;
}

