body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header {
    min-height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-page header,.new-post-page header{
    background-image: url(/assets/profile1.jpg);
}

header > * {
    z-index: 10;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.profile-image {
    width:100px;
    height:100px;
    background-color: white;
    border-radius: 50%;
    background-image: url(/assets/profile2.jpg);
    background-size: cover;
}

.profile-name, .title {
    font-size: 3em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
}

.main {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
.post {
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 8px;
    min-height: 150px;
    overflow: hidden;
    margin-top: 24px;
    background-color: #eaecee;
}
.post:hover {
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.1) ;
    transform: translate3d(0,-5px,0);
    transition: all 0.2s ease;
    cursor: pointer;
}
.post-image {
    background-position: center;
    background-size: cover;
    flex-basis: 40%;
}
.post-content {
    flex-basis: 60%;
    padding: 16px;
}
.post-date {
    font-size: 12px;
    color: #adb5bd;
    font-weight: 600;
}
.post-title {
    font-size: 1.5em;
    color: #333;
    font-weight: 600;
    margin-top: 16px;
}
.post-title h4 {
    margin: 0;
}
.post-text {
    margin-top: 4px;
    color: #495057;
    font-weight: 400;
    line-height: 1.4;
    max-height: 65px;
    overflow: hidden;
}
footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}
.nav-button.new-post-button {
    position : fixed;
    bottom: 30px;
    right:30px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: #004186;
    color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.nav-button.new-post-button:hover {
    background-color: #002349;
    transition: all 0.25s ease;
}
a.post-link {
    text-decoration: none;
}